body {
    background: #8d4242;
}

header {
    font: normal 24px Arial;
    color: #F99898;
    text-align: center;
    text-shadow: 2.5px 2.5px 3px rgba(48, 1, 1, 0.80);
}

canvas {
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -220px;
    margin-left: -250px;
    border-radius: 5px;
    box-shadow: 7px 7px 15px rgb(46, 2, 2);
}

#Scoreh1 {
    font: normal 24px Arial;
    color: #F99898;
    margin-left: 5%;
    text-shadow: 2.5px 2.5px 3px rgba(48, 1, 1, 0.80);
}

#Ranking{
    font: normal 16px Arial;
    margin-left: 2%;
    list-style-type: decimal-leading-zero;
    color:#F99898;
}

footer {
    position: absolute;
    top: 95%;
    left: 49%;
    font: italic bold 12px Arial;
    text-align: center;
}
