body {
    background: #8d4242;
}

header {
    font: normal 24px Arial;
    color: #F99898;
    text-align: center;
    text-shadow: 2.5px 2.5px 3px rgba(48, 1, 1, 0.80);
}

canvas {
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -220px;
    margin-left: -250px;
    border-radius: 5px;
    box-shadow: 7px 7px 15px rgb(46, 2, 2);
}

footer {
    font: italic bold 12px Arial;
    text-align: center;
    margin-top: 40%;
}